

.intro{
   opacity:    0.85; 
  background: #000; 
  width:      100%;
  height:     100%; 
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed; 
  text-align: center;
  -webkit-transition: opacity 1s;
     -moz-transition: opacity 1s;
       -o-transition: opacity 1s;
          transition: opacity 1s;
}

a {
  display: block;
  margin: auto;
  margin-top: 50px;
  text-decoration: none;
  color: inherit;
}

@keyframes linear {
  
  from {
    background-position: 0 0;
  }
  to {
    background-position: 200px 0;
  }
  
}

.biliboard {
  width: 200px;
  padding: 20px;
  text-align: center;
  position: relative;
  background: #fff;
  color: #333;
  font: 13px open, tahoma;
}
.biliboard:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 3px;
  transform: scale( 1.02, 1.08 );
  position: absolute;
  background: #f00;
  background: linear-gradient( 90deg, #fafafa, #fafafa, #1D8EF7, #fafafa, #fafafa );
  background-position: 55px 0;
  top: 0;
  animation: linear 1s infinite linear;
  left: 0;
  z-index: -1;
}


.biliboard.electronic:before {
  background: radial-gradient( #EA238D, #EA238D, #EA238D, #EA238D, #fafafa, #fafafa ) no-repeat;
  background-size: 150px 50px;
  animation: electronic 2s infinite linear;
}

.intro h1{
  color: wheat;
  line-height: 51px;
}
.intro >*{
  position: relative;
  margin: 0 auto;
  margin: auto;
  vertical-align: middle;
}

.intro .welcome{
  position: relative;
  margin: 0 auto;
  margin: auto;
  vertical-align: middle;
  top: 20%;
}

.text--line {
  font-size: .5em;
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 7% 28%;
  stroke-width: 3px;
  -webkit-animation: stroke-offset 1.5s linear;
          animation: stroke-offset 1.5s linear;
}
.text-copy:nth-child(1) {
  stroke: #360745;
  stroke-dashoffset: 7%;
}
.text-copy:nth-child(2) {
  stroke: #D61C59;
  stroke-dashoffset: 14%;
}
.text-copy:nth-child(3) {
  stroke: #E7D84B;
  stroke-dashoffset: 21%;
}
.text-copy:nth-child(4) {
  stroke: #EFEAC5;
  stroke-dashoffset: 28%;
}
.text-copy:nth-child(5) {
  stroke: #1B8798;
  stroke-dashoffset: 35%;
}

@-webkit-keyframes fade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity:1;
    }
}
.l-text-fading{

  -webkit-animation:fade  0.3s linear;
     -moz-animation:fade  0.3s linear;
       -o-animation:fade  0.3s linear;
          animation:fade  0.3s linear;
}


@-webkit-keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}

@keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}
